.vc-spotify-lyrics {
    padding: 0.375rem 0.5rem;
    border-bottom: 1px solid var(--background-modifier-accent);
    text-align: center;
}

.vc-spotify-lyrics-music-note {
    font-size: 16px;
    text-align: center;
    animation: side-to-side 2s ease-in-out infinite;
}

@keyframes side-to-side {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

.vc-spotify-lyrics-previous,
.vc-spotify-lyrics-next {
    color: var(--interactive-normal);
    cursor: pointer;
}

.vc-spotify-lyrics-current {
    cursor: pointer;
}

.vc-spotify-lyrics-header-content {
    display: flex;
    align-items: center;
}

.vc-spotify-lyrics-album-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 3px;
}

.vc-spotify-lyrics-modal-line-current,
.vc-spotify-lyrics-modal-line {
    margin: 4px 0;
    padding: 4px 8px;
}

.vc-spotify-lyrics-modal-line-current {
    font-weight: bold;
}

.vc-spotify-lyrics-modal-timestamp {
    color: var(--text-muted);
    cursor: pointer;
}

.vc-spotify-lyrics-modal-timestamp:hover {
    text-decoration: underline;
}
